body {background: url(Roni.jpg);width:1500px;height:1500px;}
*{-webkit-text-stroke: 1px black; font-family:acmefont ;color: #ab32be ; line-height: 1, font-weight: 200;}
b:hover{color: green;}
h1:hover{color:yellow ;}
b {color: greenyellow;}
h1 {color: green; text-align: center;font-size: 1500;}
a{color:red;}  
p img {width: 120px; height: 120px; border: 1px;}
p img {width: 120px; height: 120px; border: 1px;}
h3 {font-size: 1500; color: black;}
input ul{ width: 150px; height: 120px; border: 2px;}